# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# =========================
# C\C++ binary files
# =========================
*.exe


# =========================
# Matlab temparary files
# =========================
*.asv


# =========================
# Latex temparary files
# =========================
*.log
*.aux


# =========================
# Windows detritus
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac desktop service store files
.DS_Store
